.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown figure,
.markdown blockquote {
  @apply my-6;
}

.markdown ul,
.markdown ol {
  @apply my-2;
}

.markdown ul {
  @apply list-[circle] list-inside pl-8;
}

.markdown ol {
  @apply list-decimal list-inside pl-8;
}

.markdown h2 {
  @apply text-xl md:text-2xl font-semibold mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-lg md:text-xl font-semibold mt-8 mb-4 leading-snug;
}

.markdown figcaption {
  @apply text-sm text-gray-500 mt-2 italic;
  text-align: center; /* Add this line to center the figcaption */
}

.markdown img {
  max-height: 600px;
  margin: 0 auto; /* Add this line to center the image */
  display: block; /* Add this line to center the image */
  @apply shadow-lg rounded-lg;
}
